{% extends 'TestBlogBundle::layout.html.twig' %}
{% block title %}
	<h2>Suppression de l'article {{ article.titre }}</h2>
{% endblock %}

{% block testBlogBody %}

	{# Oui #}
	
	{# Non #}

{% endblock %}